.button-card {
    background-color: #fff;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid white;
    padding: 5px 15px;
    cursor: pointer;
  }
  
  .button-card-following{
    background-color: #000;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 5px 15px;
    cursor: pointer;
  }
  
  /* Estilos para el hover */
  .button-card-following:hover {
    background-color: transparent; /* Fondo transparente */
    border: 1px solid  rgb(209, 0, 0); /* Borde rojo */
  }
  
  .button-card-following:hover .tw-followCard-text {
    display: none;
  }
  
  .button-card-following:hover .stopFollow {
    display: block;
    color: rgb(209, 0, 0);
  }
  
  .stopFollow {
    display: none;
  }